<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- http block -->
	<sec:http auto-config="true">
		<sec:intercept-url pattern="/hello.jsp" access="ROLE_USER"/>
		<sec:intercept-url pattern="/admin.jsp" access="ROLE_ADMIN"/>
		<!-- without login form, spring provides a default login form -->
		<sec:form-login 
			login-page="/login.jsp"
			authentication-success-handler-ref="postSuccessAuthHandler"
			authentication-failure-url="/login.jsp?login_error=1"
		/>
		<sec:logout logout-success-url="/login.jsp"/>
		<sec:remember-me/>
	</sec:http>
		
	<!-- security manager block -->
	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="alice" password="123456" authorities="ROLE_USER"/>
				<sec:user name="steven" password="abcdef" authorities="ROLE_USER"/>
				<sec:user name="tommy" password="mercury" authorities="ROLE_ADMIN"/>
				<sec:user name="mike" password="mercury" authorities="ROLE_ADMIN, ROLE_USER"/>
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager>
	
	<bean id="postSuccessAuthHandler" class="com.mercury.security.PostSuccessfulAuthenticationHandler">
<!-- 		<property name="defaultTargetUrl" value="/hello.jsp"></property> -->
<!-- 		<property name="alwaysUseDefaultTargetUrl" value="true"></property> -->
	</bean>
</beans>